<ng-template #contenido let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{nombreRecibido}}</h4>
    <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
      <span aria-hidden="true"> &times;
      </span>
    </button>
  </div>
  <div class="modal-body">
    <img src="{{imagenRecibida}}" style="width: 450px; height: 350px">
    <p>{{descripcionRecibida}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="modal.close()">
      Aceptar!
    </button>
  </div>
</ng-template>
<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" id="divsidebar">
  <span href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    <span class="fs-4">Sidebar</span>
  </span>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <span type="button" class="btn-lg btn-dark" (click)="modal.open(contenido);
      ponerInfo('assets/volcada.jpg', 'Volcada', 'El Slam Dunk (literalmente Clavada de golpe en inglés, llamado mate o machaque en España, y hundida, donqueo, volcada o clavada en Hispanoamérica) es un término usado en baloncesto para describir una forma de lanzamiento, realizada cuando un jugador salta y mete el balón a través del aro con una o dos manos tocando el aro o colgándose, de arriba abajo y sin que la pelota esté suelta en el aire. ')" >
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
        Volcada
        <span type="button" (click)="modal.open(contenido)"></span>
      </span>
    </li>
    <li>
      <span type="button" class="btn-lg btn-dark " (click)="modal.open(contenido);
      ponerInfo('assets/fichaje.png', 'Fichaje', 'Los Denver han hecho oficial este martes el fichaje del base francés Thomas Heurtel (1,89m y 32 años) para reforzar la dirección del equipo, desguarnecida tras la marcha de Facundo Campazzo a la NBA en noviembre. Seis meses después de su polémica salida del Barça y tras unos meses de puente en el Asvel Villeurbanne, con tiempo para ganar la Liga y la Copa francesa, Heurtel se compromete por una temporada con el conjunto blanco.')">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
        Fichaje
        <span type="button" (click)="modal.open(contenido)"></span>
      </span>
    </li>
    <li>
      <span type="button" class="btn-lg btn-dark" (click)="modal.open(contenido);
      ponerInfo('assets/arena.jpg', 'Arena', 'El TD Garden es un pabellón deportivo localizado en el barrio North End de Boston, Massachusetts. A menudo se le llama simplemente por su nombre coloquial o tradicional the Garden o Boston Garden, siendo anteriormente conocido como FleetCenter y TD Banknorth Garden (anterior patrocinador, el banco TD Banknorth, perteneciente al Toronto-Dominion Bank) (también se denominó Shawmut Center, pero solo durante su construcción). Es el pabellón de juego de los Boston Celtics de la NBA, de los Boston Bruins de la liga de hockey sobre hielo NHL y a partir de 2008 de una nueva franquicia de la liga de lacrosse NLL. Anteriormente también fue el pabellón de juego de los Boston Blazers de la NLL.')" >
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
        Arena
      </span>
    </li>
  </ul>
</div>


